config.*
configure
Makefile
Makefile.in
tags
ser2net.spec
missing
aclocal.m4
libtool
ltmain.sh
depcomp
install-sh
/.deps/
/autom4te.cache/
*.o
*~
*.pyc
*.cmd
.tmp_versions
Module.*
modules.*
*.ko
*.mod.c
*.ur-safe
ser2net
